$green: #5cdf8e;
$red: #eb5472;

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  text-transform: lowercase;
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  color: white;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 13rem;
  }
  h2 {
    font-size: 7rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin: 0;
}

/*-----------------------------*/

.arrow-up {
  position: absolute;
  top: -10vh;
  right: 0;
  width: 0;
  height: 0;
  border-left: 50vh solid transparent;
  border-right: 0vh solid transparent;
  border-bottom: 190vh solid $red;
}

@media only screen and (max-width: 850px) {
  .arrow-up {
    position: absolute;
    top: -10vh;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30vh solid transparent;
    border-right: 0vh solid transparent;
    border-bottom: 190vh solid $red;
  }
}

@media only screen and (max-width: 450px) {
  .arrow-up {
    position: absolute;
    top: -10vh;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10vh solid transparent;
    border-right: 0vh solid transparent;
    border-bottom: 165vh solid $red;
  }
}

a {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

section {
}

#header {
  height: 90vh;
  background-color: $green;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}

.subheader {
  color: white;
  font-style: italic;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#header-headline {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-headline-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header-headline-text {
  text-shadow: 1rem 1rem 0px $red, 2px -27px 2px rgba(206, 89, 55, 0);
  font-style: italic;
  text-transform: uppercase;
}

@media only screen and (max-width: 1100px) {
  #header-headline {
    width: 80vw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#quote {
  display: flex;
  align-items: center;
}

.wrapper {
  padding: 7%;
}

#quote-header {
  height: 100%;
  color: $red;
  width: 70vw;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 850px) {
  #quote-header {
    height: 100%;
    color: $red;
    width: 60vw;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 450px) {
  #quote-header {
    height: 100%;
    color: $red;
    width: 70vw;
    margin-bottom: 5vh;
  }
}

#quote-text {
  color: $green;
  width: 50vw;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  #quote-text {
    color: $green;
    width: 70vw;
  }
}

#process {
  background-color: $red;
}

#process-graphics {
  height: 100%;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 5%;
}

.dot {
  height: 5vh;
  width: 5vh;
  background-color: $green;
  border-radius: 50%;
}

.analysis-point {
  grid-column: 1/2;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.analysis-text {
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.line-div-one {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1/3;
  grid-row: 2/3;
}

.line {
  border: 8px solid $green;
  border-radius: 5px;

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vl {
  width: 13px; /* Line width */
  background-color: $green; /* Line color */
  height: 50%; /* Override in-line if you want specific height. */
  height: 50%;
  margin: auto;
}

.prototyping-point {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prototyping-text {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.line-div-two {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2/4;
  grid-row: 2/3;
}

.line-div-three {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/5;
  grid-row: 2/3;
}

.line-div-four {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4/6;
  grid-row: 2/3;
}

.iteration-point-one {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.line-div-five {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 4/5;
  grid-row: 1/3;
}

.iteration-point-two {
  grid-column: 3/4;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line-div-six {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/4;
  grid-row: 1/3;
}

.line-div-seven {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 3/5;
  grid-row: 1/2;
}
.iteration-point-three {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iteration-point-four {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iteration-text {
  justify-self: center;
  width: 50%;
  grid-column: 3/5;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.line-div-eight {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 5/7;
  grid-row: 2/3;
}

.production-point {
  grid-column: 5/6;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.production-text {
  justify-self: center;
  grid-column: 5/6;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.integration-point {
  grid-column: 6/7;
  grid-row: 2/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.integration-text {
  justify-self: center;
  grid-column: 6/7;
  grid-row: 3/4;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

@media only screen and (max-width: 850px) {
  #process-graphics {
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr !important;
    grid-gap: 20px;
  }

  .dot {
    display: none;
  }

  .analysis-point {
    display: none;
  }

  .analysis-text {
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .line-div-one {
    display: none;
  }

  .line {
    display: none;
  }

  .vl {
    display: none;
  }

  .prototyping-point {
    display: none;
  }

  .prototyping-text {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .line-div-two {
    display: none;
  }

  .line-div-three {
    display: none;
  }

  .line-div-four {
    display: none;
  }

  .iteration-point-one {
    display: none;
  }
  .line-div-five {
    display: none;
  }

  .iteration-point-two {
    display: none;
  }

  .line-div-six {
    display: none;
  }

  .line-div-seven {
    display: none;
  }
  .iteration-point-three {
    display: none;
  }
  .iteration-point-four {
    display: none;
  }

  .iteration-text {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .line-div-eight {
    display: none;
  }

  .production-point {
    display: none;
  }

  .production-text {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .integration-point {
    display: none;
  }

  .integration-text {
    justify-self: center;
    grid-column: 1/2;
    grid-row: 5/6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

#matching-header {
  color: $green;
}

#matching-graphics {
  color: $green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.matching-graphics-image {
  width: 100%;
  margin: 50px;
}

#portfolio {
  background-color: $green;
}

#portfolio-options {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5%;
  margin: 50px;
}

@media only screen and (max-width: 850px) {
  #portfolio-options {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 5%;
    height: 70vh;
  }
}

.portfolio-options-boxes {
  background-color: white;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  .portfolio-options-boxes {
    background-color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#team {
  background-color: white;
}
#team-header {
  color: $green;
}

#team-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
  grid-gap: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 450px) {
  #team-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vh, 1fr));
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

.team-member {
  margin: auto;
  height: 25vh;
  width: 25vh;
  background: $red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: cell;
}

.team-member:hover .text {
  opacity: 1;
}

.team-member:hover {
  opacity: 0.5;
}

.text {
  transition: 0.5s ease;
  opacity: 0;
}

.text {
  background-color: $green;
  color: $red;
  font-size: 2rem;
  padding: 16px 32px;
}
@media only screen and (max-width: 450px) {
  .team-member {
    margin: auto;
    height: 10vh;
    width: 10vh;
    background: $red;
    border-radius: 50%;
  }
}

.jan {
  background-image: url(../assets/jan.png);
  background-size: cover;
}

.till {
  background-image: url(../assets/till.png);
  background-size: cover;
}

.martin {
  background-image: url(../assets/martin.png);
  background-size: cover;
}

.catharina {
  background-image: url(../assets/catharina.png);
  background-size: cover;
}

.philipp {
  background-image: url(../assets/philipp.png);
  background-size: cover;
}
