@charset "UTF-8";
/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.5em;
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto Mono", monospace;
  color: white;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}

h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}

h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 13rem;
  }
  h2 {
    font-size: 7rem;
  }
  h3 {
    font-size: 4rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/*-----------------------------*/
.arrow-up {
  position: absolute;
  top: -10vh;
  right: 0;
  width: 0;
  height: 0;
  border-left: 50vh solid transparent;
  border-right: 0vh solid transparent;
  border-bottom: 190vh solid #eb5472;
}

@media only screen and (max-width: 850px) {
  .arrow-up {
    position: absolute;
    top: -10vh;
    right: 0;
    width: 0;
    height: 0;
    border-left: 30vh solid transparent;
    border-right: 0vh solid transparent;
    border-bottom: 190vh solid #eb5472;
  }
}

@media only screen and (max-width: 450px) {
  .arrow-up {
    position: absolute;
    top: -10vh;
    right: 0;
    width: 0;
    height: 0;
    border-left: 10vh solid transparent;
    border-right: 0vh solid transparent;
    border-bottom: 190vh solid #eb5472;
  }
}

.bold {
  font-weight: bold;
}

section {
  height: 90vh;
  width: 100vw;
}

#header {
  background-color: #5cdf8e;
  color: white;
  text-shadow: 1rem 1rem 0px #eb5472, 2px -27px 2px rgba(206, 89, 55, 0);
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#header-headline {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  #header-headline {
    width: 80vw;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrapper {
  padding: 7%;
}

#quote-header {
  height: 100%;
  color: #eb5472;
  width: 70vw;
  margin-bottom: 5vh;
}

@media only screen and (max-width: 850px) {
  #quote-header {
    height: 100%;
    color: #eb5472;
    width: 60vw;
    margin-bottom: 5vh;
  }
}

@media only screen and (max-width: 450px) {
  #quote-header {
    height: 100%;
    color: #eb5472;
    width: 70vw;
    margin-bottom: 5vh;
  }
}

#quote-text {
  color: #5cdf8e;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 450px) {
  #quote-text {
    color: #5cdf8e;
    width: 70vw;
  }
}

#process {
  background-color: #eb5472;
}

#matching-header {
  color: #5cdf8e;
}

#portfolio {
  background-color: #5cdf8e;
}

#portfolio-options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 5%;
}

.portfolio-options-boxes {
  background-color: white;
  height: 40vh;
}

#team {
  background-color: white;
}

#team-header {
  color: #5cdf8e;
}

#team-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25vh, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25vh, 1fr));
  grid-gap: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.team-member {
  margin: auto;
  height: 25vh;
  width: 25vh;
  background: #eb5472;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: cell;
}

.team-member:hover .text {
  opacity: 1;
}

.team-member:hover {
  opacity: 0.5;
}

.text {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
}

.text {
  background-color: #5cdf8e;
  color: #eb5472;
  font-size: 2rem;
  padding: 16px 32px;
}

@media only screen and (max-width: 450px) {
  .team-member {
    margin: auto;
    height: 10vh;
    width: 10vh;
    background: #eb5472;
    border-radius: 50%;
  }
}

.jan {
  background-image: url(../assets/jan.png);
  background-size: cover;
}

.till {
  background-image: url(../assets/till.png);
  background-size: cover;
}

.martin {
  background-image: url(../assets/martin.png);
  background-size: cover;
}

.catharina {
  background-image: url(../assets/catharina.png);
  background-size: cover;
}

.philipp {
  background-image: url(../assets/philipp.png);
  background-size: cover;
}
/*# sourceMappingURL=style.css.map */
